<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>
        <div class="m-4">
            <h1 class="text-red-500 ">
                <%= message %>
            </h1>
            <% if (user) { %>
                <p class="text-yellow-300">
                    <%= user.email %>
                </p>
                <p class="text-green-600">
                    <%= user.password %>
                </p>
                <% } %>
        </div>
    </body>

</html>